.habitItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.75rem 1.25rem;
    margin-bottom: 0.5rem;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 5px;
}

.habitItem__checkboxWrapper {
    display: flex;
    align-items: center;
}

.habitItem__checkbox {
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.75rem;
    cursor: pointer;
    accent-color:#9C797E;

}


.habitItem__label {
    margin: 0;
    cursor: pointer;
    transition: color 0.2s ease;
}

.habitItem__label_completed {
    color: #5e6d6167;
    text-decoration: line-through;
}

.habitItem__streak {
    display: inline-block;
    padding: 0.35em 0.65em;
    font-size: 0.75em;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 20px;
    color: #fff;
    background-color: #abb3bb;
    align-items: center;
}

.habitItem__streak_active {
    background-color: #89b24c;
}

.habitItem__rightWrapper {
    display: flex;
    gap: 10px;
    align-items: center;
}

.habitItem__deleteButton {
    background: none;
    border: none;
    color: #9C797E;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    padding: 0px 0px 0.2em;
    line-height: 1;
    transition: color 0.2s;
    display: flex;
    align-items: center;
}

.habitItem__deleteButton:hover {
    color: #d05e69;
}