.addHabitForm {
    margin-top: 1.5rem;
}

.addHabitForm__inputGroup {
    display: flex;
    margin-bottom: 1rem;
}

.addHabitForm__input {
    flex: 1;
    padding: 0.5rem 0.75rem;
    border: 2px solid #9c797e50;
    border-radius: 20px 0.25em 0.25em 20px;
    margin-right: 5px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.addHabitForm__input:focus {
    outline: 0;
    border-color: none;
    box-shadow: 0 0 0 0.1rem rgba(216, 168, 113, 0.5);
}

.addHabitForm__input_error {
    border-color: #d05e69;
}

.addHabitForm__button {
    display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: #9C797E;
    border: 1px solid #9C797E;
    padding: 0.5rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 20px;
    cursor: pointer;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
}

.addHabitForm__button:hover {
    background-color: #9C797E;
    border: 1px solid #9C797E;
}

.addHabitForm__button:focus {
    outline: 0;
    box-shadow: 0 0 0 0.1rem rgba(216, 168, 113, 0.5);
}

@media (max-width: 480px) {
        .addHabitForm__input {
            width: 100%;
            border-radius: 20px;
            padding: 5px;
            margin: 0;
        }
    .addHabitForm {
        width: 100%;
    }
    .addHabitForm__button {
        width: 8rem;
        padding: 5px;
    }
    .addHabitForm__inputGroup {
        flex-direction: column;
        gap: 5px;
        align-items: center;
    }
    }

